name: Run tests and build

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"

      - name: Install dependencies
        run: npm clean-install

      - name: Test
        run: node --run ci

      - name: Build
        run: node --run build
